.card-image__container{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #acd8f1;
    margin:4px auto 4px;
    @media all and (min-width:768px){
        width: 160px;
        height: 160px;
        border-radius: 10px;
        border: 4px solid #acd8f1;
        margin:8px auto 15px;
    }
}

.card__image {
    width: 120px;
    @media all and (min-width:768px){
        width: 160px;
    }
}

.card__title{
    font-size: 14px;
}