.page__header {
    height: 450px;
    background-image: url('../../images/background-castle.jpg');
    background-position: top;
    background-size: cover;
    text-align: center;
}

.header__image {
    height: 350px;
}

.header__title {
    font-size: 34px;
    color: rgb(5, 62, 77);
    background-color: rgba(209, 240, 233, 0.8)
    

}