.page__footer{
    background-color: #d2eaf8;
    position: relative;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2a91cc;
    height: 50px;
    font-size: 12px;
    flex-grow: 0;
    @media all and (min-width:768px){
        font-size: 18px;    
    }
}

.footer__link{
    text-decoration: none;
    color: #4f7185;
}