.page__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    @media all and (min-width:768px){
        height: 150px;

    }
}

.filters__input {
    height: 30px;
    border: 4px solid #afdeeb;
    border-radius: 5px;
    width: 50%;
}

.filters__label {
    font-size: 20px;
    margin: 5px;
}